<div class="container-inputs">
  <h2>Registrate para crear una cuenta</h2>
  <div class="autentication">
    <app-button class="register-social" [text]="btnSignUp"></app-button>
    <app-button class="register-social" [text]="btnSignUp2"></app-button>
  </div>
  <div><span class="divider">Registro con email</span></div>
    <app-input inputClass="sign-up-input" [placeholder]="textName" ></app-input>
    <app-input inputClass="sign-up-input" [placeholder]="textLastname"></app-input>
    <app-input inputClass="sign-up-input" [placeholder]="textEmail"></app-input>
    <app-input inputClass="sign-up-input" [placeholder]="textPassword"></app-input>
    <app-input inputClass="sign-up-input" [placeholder]="textConfirmPassword"></app-input>
    <app-button class="sign-up-btn" [text]="btnText"></app-button>
  <p>Ya tienes una cuenta? <a href="#" class="sign-in-link">Inicia sesión</a></p>
</div>
