.connect-wallet-button{
background-color: #7B35D0;
color: white;
width: 243px;
height: 62px;
border-radius: 7px;
}
.login-btn{
 background-color: #6A5ACD;
 color: white;
 border-radius: 25px;
 width: 25rem;
 height: 2.4rem;
 border: none;
 cursor: pointer;
}
.login-btn:hover {
     background-color: #5C3896;
}
.btn-comenzar{
  color: #4C18B4;
  border-radius: 25px;
  width: 10rem;
  height: 2.4rem;
  border: none;
  font-weight: bold;
}
